<div class="ae-container-fluid ae-container-fluid--inner rk-main">
  <div class="ae-grid au-xs-ta-center au-mb-4">
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/inner-1.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Mision</h5>

      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Nuestra vision es..................................................</p><a href="#0" class="ae-u-bolder au-underline"></a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/project-12.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Vision</h5>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Nuestra Vision es ..................................................</p><a href="#0" class="ae-u-bolder au-underline"></a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/post-1.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Lema</h5>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Nuestro lema es ..................................................</p><a href="#0" class="ae-u-bolder au-underline"></a>
    </div>
  </div>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">Un poco de Historia</h4>
      <p>........................................................................................................................................................................................................</p>
    </div>
  </div>
  </div>
