<header class="ae-container-fluid ae-container-fluid--full rk-header ">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">


    <h1 class="rk-logo">
      <a routerLink=''>HOTEL-SPA POSADA BONITA<sup>dh</sup></a>
    </h1>


    <nav class="rk-navigation">
      <ul class="rk-menu">
        <li class="active rk-menu__item">
          <a routerLink='principal' class="rk-menu__link">Home</a>
        </li>
        <li class=" rk-menu__item">
          <a routerLink="nosotros" class="rk-menu__link">Nosotros</a>
        </li>

        <li class="rk-menu__item">
          <a href="#0" class="rk-menu__link">Reservas</a>

          <nav class="rk-menu__sub">
            <ul class="rk-container">
              <li class="rk-menu__item"><a routerLink="typeroom" class="rk-menu__link">Reserva de Habitacion</a></li>
              <li class="rk-menu__item"><a routerLink="timework" class="rk-menu__link">Reserva de Vapor</a></li>
              <li class="rk-menu__item"><a routerLink="typeroom" class="rk-menu__link">Reserva de Masaje</a></li>
              <li class="rk-menu__item"><a routerLink="typeroom" class="rk-menu__link">Reserva de Bano</a></li>
            </ul>
          </nav>
        </li>
        
      </ul>
      <form class="rk-search">
        <input type="text" placeholder="Search" id="urku-search" class="rk-search-field">
        <label for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </form>
    </nav>
  </div>
</header>